DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your password
DB_NAME=your db name
JWT_SECRET=your jwt secret
STORAGE_PATH=your storage path
SERVER_PORT=18081
DOMAIN=http://localhost:18081
DEFAULT_PASSWORD=your default password